.pageContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    /* width: clamp(200px, 75%, 700px); */
}

.componentsContainer {
    /* width: 100%; */
    width: clamp(0px, 100%, 700px);
}