:root {
    --gray: rgba(217, 217, 217, 0.50);
    --darkergray: rgba(217, 217, 217);
    --red: red;
  }

  @font-face {
    font-family: "Rubik";
    src: local("Rubik"),
     url("./fonts/Rubik-VariableFont_wght.ttf") format("truetype");
    /* font-weight: bold; */
   }

   @font-face {
    font-family: "Poppins";
    src: local("Poppins"),
     url("./fonts/Poppins-SemiBold.ttf") format("truetype");
    /* font-weight: bold; */
   }

   @font-face {
    font-family: "Poppins-Light";
    src: local("Poppins-Light"),
     url("./fonts/Poppins-Light.ttf") format("truetype");
    /* font-weight: bold; */
   }
   
